build/
build*/
dist/

packages/

.vs/
.idea/

cmake-build*/

obj/
bin/
out/
res/
target/

*.sln
*.user

package-lock.json
node_modules/

Pipfile*
csharp/EFCore_learn/db/Northwind.db
csharp/EFCore_learn/db/Northwind.sql
