build/
build*/
dist/

packages/

.vs/
.idea/

cmake-build*/
__pycache__/
Migrations/

obj/
bin/
out/
res/
target/
node_modules/
data/


*.sln
*.user
*.log
*.db


no_commit_info.json
temp.html

package-lock.json

Pipfile*
csharp/EFCore_learn/db/Northwind.db
csharp/EFCore_learn/db/Northwind.sql
*.mo
