@import "vars";

// Tags

body {
  font-family: "Microsoft New Tai Lue", monospace;
  background-color: $background-color;
}

h1 h2 h3 h4 h5 h6 {
  align-content: center;
  text-align: center;
  color: $text-color-2;
}

h1{
  font-size: 34px;
}

h2{
  font-size: 28px;
}

p {
  font-size: 18px;
  color: $text-color-1;
}

ol {
  color: $list-colors;
}

ul {
  color: $list-colors;
}

// Classes

.container {
  padding: 0 15% 0 5%;
}

.article {
  margin: 3em 0;
}

// IDs