doctype html
html(lang="en")
    head
        title Learn_1
        link(rel="stylesheet" href="css/main.css")
    body
        div.container
            h1.header.h1-header This is index page

            div.article
                h2.header.h2-header First article
                p This is a long story about frontend development...

            div.article
                h2.header.h2-header Second article
                p What could be better than site creation?

            div.article
                h2.header.h2-header This is new header
                p I believe it'll work fine
                ol How to invent perfect site:
                    li Make cool colors
                    li Create awesome content
                    li Design everything fine
