doctype html
html
    head
        //style(rel="stylesheet" href="build/main.css")
    body
        h1.headers.h1-header This is index page
        h2.headers.h2-header First article
        h2.headers.h2-header Second article
