 <div class="item mb-2">
     <div class="row align-items-center">
         <div class="col-auto">
             <img class="img-fluid" src="{{ post.author.avatar(64) }}" alt="Avatar">
         </div>
         <div class="col">
             <div class="row mb-1">
                <a class="col" href="{{ url_for('profile', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                 <p class="col">{{ post.timestamp }}</p>
             </div>
             <div class="mb-1">
                 <p class="text-justify">{{ post.body }}</p>
             </div>
         </div>
     </div>
 </div>