{% extends "base.html" %}
{% block content %}

<h1 class="display-1">{{ _('Login') }}</h1>

<div class='form-group form-sign-in p-2 py-2'>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} <br>
            {{ form.username(size=32, class='form-control') }}
            {% for error in form.username.errors %}
            <span class="error-message">[{{error}}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }} <br>
            {{ form.password(size=32, class='form-control') }}
            {% for error in form.password.errors %}
            <span class="error-message">[{{error}}]</span>
            {% endfor %}
        </div>
        <p>
            {{ form.remember_me(class='form-check-input') }} {{ form.remember_me.label }}
        </p>
        <p>{{ form.submit(class='btn btn-primary') }}</p>
    </form>

    <p> {{ _('New user?') }} <a href="{{ url_for('register') }}">{{ _('Click to register') }}</a></p>
    <p>
        {{ _('Forget password?') }}
        <a href="{{ url_for('reset_password_request') }}">{{ _('Click here to resert it') }}</a>
    </p>
</div>

{% endblock %}