{% extends "base.html" %}
{% block content %}

<h1 class="display-1">Reset Password</h1>

<div class='form-group form-sign-in p-3 py-1'>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.password.label }} <br>
            {{ form.password(size=32, class='form-control') }}
            {% for error in form.password.errors %}
            <span class="error-message">[{{error}}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password_2.label }} <br>
            {{ form.password_2(size=32, class='form-control') }}
            {% for error in form.password_2.errors %}
            <span class="error-message">[{{error}}]</span>
            {% endfor %}
        </div>
        <p>{{ form.submit(class='btn btn-primary', style='margin-top: 10px;') }}</p>
</form>
</div>

{% endblock %}