{% extends "base.html" %}
{% block content %}

<h1 class="display-1">Reset Password Request</h1>

<div class='form-group form-sign-in p-3 py-1'>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} <br>
            {{ form.email(size=60, class='form-control') }}
            {% for error in form.email.errors %}
            <span class="error-message">[{{error}}]</span>
            {% endfor %}
        </div>
        <p>{{ form.submit(class='btn btn-primary') }}</p>
    </form>
</div>

{% endblock %}