// Tags

body
  font-family: SansSerif monospace

p
  font-size: 18px
  color: #61eac3

// Classes

.container
  padding: 0 10%

.article
  margin: 3em 0

.header
  text-align: center
  color: #4f36c9

.h1-header
  font-size: 34px

.h2-header
  font-size: 28px

// IDs